<div class="row">
  <div *ngIf="(event$ | async) as event" class="col-6 offset-3">
    <form #eventForm="ngForm" (ngSubmit)="onUpdate(eventForm, event)">
      <div class="form-group">
        <label for="">Name</label>
        <input name="name" [(ngModel)]="event.name" type="text"
          class="form-control" pattern=".{8,}" required pattern=".{8,25}">
        <div [hidden]="eventForm.controls['name']?.valid" class="error-message">
          The name of the event must be 8-25 character long.
        </div>
      </div>
      <div class="form-group">
        <label for="">Date</label>
        <input name="date" [(ngModel)]="event.date" type="text"
          class="form-control" required pattern="^(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/\d{4}$">
          <div [hidden]="eventForm.controls['date']?.valid" class="error-message">
            The date of the event must be MM/DD/YYYY format.
          </div>
      </div>
      <div class="form-group">
        <label for="">Time</label>
        <input name="time" [(ngModel)]="event.time" type="text" class="form-control" required pattern="^(0?[1-9]|1[0-2]):([0-5]\d)\s?((?:A|P)\.?M\.?)$">
        <div [hidden]="eventForm.controls['time']?.valid" class="error-message">
          The time of the event must be 00am/00pm format.
        </div>
      </div>
      <div class="form-group">
        <label for="">Location</label>
        <input name="location" [(ngModel)]="event.location" type="text" class="form-control" required pattern="[A-ZÁÉÍÓŐÚŰ].{4,24}">
        <div [hidden]="eventForm.controls['location']?.valid" class="error-message">
          The location of the event must be 5-25 character long and start with capital letter.
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-lg">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
