<div>
  <div class="row my-2 text-center">
    <div class="col-12">
      <button [routerLink]="'event/0'" class="btn btn-success btn-block mt-2 mb-3">
        Add new event
      </button>
    </div>
    <div class="col-12">
      <h3>All of the events show below</h3>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let event of eventList$ | async">
        <td>{{event.id}}</td>
        <td>{{event.name}}</td>
        <td>{{event.date}} </td>
        <td>{{event.time}}</td>
        <td>{{event.location}}</td>
        <td>

          <div class="btn-group">
            <button [routerLink]="['event/' + event.id]" class="btn btn-info">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="onDelete(event)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </div>

        </td>
      </tr>
    </tbody>
  </table>

</div>
